<html class="homeImage img-responsive">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<%= render 'layouts/header' %> 
		<!-- Page Content -->
	    <div class="banner">
	    	<div class="row banner-wrapper">
	    		<div class="clearfix banner-content text-center">
					<h1>Direct mail. But better.</h1>
					<h3>Direct mail for the digital age is finally here, making mail as easy and powerful as email.  
						For proof, look no further than Lob’s ability to reduce your direct mail lead times from 6 weeks to 2 days. 
						Seriously.</h3>
					<a class="btn btn-white-inverse btn-lg" href="https://dashboard.lob.com/register">Get Started</a>
				</div>
	    	</div>
	    	<div class="row customers-wrapper customers">
				<div class="col-sm-2 col-xs-3 col-sm-offset-1">
					<div class="munchery customer"> </div>
				</div>
				<div class="col-sm-2 col-xs-3">
					<div class="lendup customer"> </div>
				</div>
				<div class="col-sm-2 col-xs-3">
					<div class="twice customer"> </div>
				</div>
				<div class="col-sm-2 col-xs-3">
					<div class="intuit customer"> </div>
				</div>
				<div class="col-sm-2 col-xs-3">
					<div class="ubiquiti customer"> </div>
				</div>
			</div>
	    </div>  	
	    <!-- sections -->	
	    <section>
	   		<div class="container sectionFont">
		   		<div class="row sectionHeadline">
		        	<h2>Lob’s services support all your direct mail needs.</h2>
		        </div>
		        <div class="row valuePropRow">
		        	<div class="col-sm-1"></div>
		        	<div class="col-sm-5">
		        		<h3 class="service-icon simple-area-mail-icon"></h3>
		        		<h3>Expand your reach.</h3> 
		        		<h4 class="valueDesc">Lob’s print and mail services simplify direct mail so you can easily reach 
		        			potential customers in targeted geographies.</h4>
		        	</div>
		        	<div class="col-sm-5">
		        		<h3 class="service-icon simple-postcard-service-icon"></h3>
		        		<h3>Stay top of mind.</h3>
		        		<h4 class="valueDesc">Remind current customers that you care about their business by sending 
		        			timely, personalized postcard messages.</h4>
		        	</div>
		        	<div class="col-sm-1"></div>
		        </div>
		        <div class="row valuePropRow">
		        		<div class="col-sm-1"></div>
		        		<div class="col-sm-5">
		        			<h3 class="service-icon simple-print-service-icon"></h3>
		        			<h3>Send recurring mail.</h3> 
		        			<h4 class="valueDesc">Lob automates both scheduled and triggered mail pieces at scale so you 
		        				can programmatically send invoices, checks, or notifications.</h4>
		        		</div>
		        		<div class="col-sm-5">
		        			<h3 class="service-icon address-verification-icon"></h3>
		        			<h3>Integrate everything.</h3> 
		        			<h4 class="valueDesc">Lob’s suite of APIs enables you to plug direct mail into the rest of your 
		        				business flow, both increasing the power of direct mail and simplifying it at the same time.</h4>
		        		</div>
		        		<div class="col-sm-1"></div>		
		        	</div>
	        	</div>
	        </section>
	        <section class="dark-bg">
	   		<div class="container sectionFont">
		   		<div class="row sectionHeadline">
		        	<h2>Get started in minutes.</h2>
		        	<h4 class="nonDev">Not a developer? <%= link_to(raw("Send our docs to your dev team"), "#", :id => "devSend") %> to get their input on how easy Lob is to get up and running.</h4>
		        </div>
		        <div class="row api-example">
					<div class="col-sm-1"></div>
					<div class="col-sm-6 code-snippet">
						<img src="https://s3-us-west-2.amazonaws.com/lobhomepagetest/code_snippet.jpg" class="img-responsive"></img>
					</div>
					<div class="col-sm-3">
						<div class="api">
							<h4>INTEGRATION IS EASY</h4>
							<hr>
							<p>Intuitive, RESTful, and Built for Developers. </p>
							<p>We built Lob with developers in mind and offer wrappers in Node, Ruby, Python, PHP, Java, and iOS to help you get started in minutes.</p>
							<br>
							<a class="btn btn-blue-inverse" href="/docs">READ DOCS</a>
						</div>
					</div>
					<div class="col-sm-2"></div>
				</div>
			  </div>
	        </section>
	        <section>
				<div class="container sectionFont">
					<div class="row sectionHeadline">
						<div class="col-xs-12">
							<h2>We built Lob with your business in mind</h2>
							<h4>Finally, a hassle free direct mail service that delivers results!</h3>
						</div>
					</div>
					<div class="row last valuePropRow">
						<div class="col-xs-12 col-sm-3">
							<div class="feature">
								<span>
									<img src="https://s3-us-west-2.amazonaws.com/lob-assets/icon-feature-money.svg">
								</span>
								<h4>Simple Pricing</h4>
								<p>On demand access, pay-as-you-go pricing, no minimums</p>
							</div>
						</div>
						<div class="text-center col-xs-12 col-sm-3">
							<div class="feature">
								<span>
									<img src="https://s3-us-west-2.amazonaws.com/lob-assets/icon-feature-api.svg">
								</span>
								<h4>Clear Docs</h4>
								<p>Get up and running in minutes with clean documentation</p>
								<a href="/docs"> Read Docs > </a>
							</div>
						</div>
						<div class="text-center col-xs-12 col-sm-3">
							<div class="feature">
								<span>
									<img src="https://s3-us-west-2.amazonaws.com/lob-assets/icon-feature-lock.svg">
								</span>
								<h4>Secure & Safe</h4>
								<p>Bank-grade security with PCI and HIPAA compliance</p>
							</div>
						</div>
						<div class="text-center col-xs-12 col-sm-3">
							<div class="feature">
								<span>
									<img src="https://s3-us-west-2.amazonaws.com/lob-assets/icon-feature-support.svg">
								</span>
								<h4>Reliable Support</h4>
								<p>Lightning-fast support directly from our engineers</p>
								<a href="/support"> Contact Us > </a>
							</div>
						</div>
					</div>
					<div class="row last-cta-button">
						<div class="text-center">
							<a class="btn btn-lg btn-blue-inverse" href="https://dashboard.lob.com/register">Get Started</a>
						</div>
					</div>
				</div>
			</section>
		<%= render 'layouts/footer' %>
	</body>
</html>